@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  box-sizing: border-box;
  background-color: #FDF3E1;
}

body h1{
  font-family: "Paytone One", sans-serif;
}

.home {
  height: 600px;
  background-image: url('./assets/images/hm1.png');
  background-size: cover;
  background-position: 20% 70%;
}


 .home h1 {
  font-family: "Paytone One", sans-serif;
   text-shadow: #E86366 4px 1px 0px;
 }

 .main-text{
  font-family: "Crimson Pro", sans-serif;
 }

 .home p{
  font-family: "Crimson Pro", serif;
  font-weight: 600;
 }
.active {
  @apply text-red-300;
}