*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home.jsx */

/* Navbar css */

nav{
  display: flex;
  padding: 10px 50px ;
  background-color: yellow;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  color: #fff;
}

nav img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
